*{
	color: #9c7d25; 
}

p{
	color: #755F0B;
}

h2{
	background: #d0cece;
	text-shadow: 1px 1px 1px #e4b42d;
	font-family: arial; 
}

.compra{
	border-spacing: 2px;
	border-color: #000;
	background-image: url("../images/tabla.jpg");
	background-repeat: repeat;
    
}

div, p{
	padding-top: 10px;
}