*{
	margin: 0;
	padding: 0;
}
body{
	max-width: 100%;
	color: #000;
	font-family: Trattatello, fantasy;
	font-size: 20px;
}
.container{
	background-color: #eee;
	margin: 0 auto;
	overflow: auto;
}
.container h2,h1{
	text-align: center;
}
main{
	padding-bottom: 20px;
}
a.start{
	display: inline-block;
	color: #666;
	background: #f4f4f4;
	border: 1px dotted #ccc;
	padding: 6px 13px;
}
header{
	background: none repeat scroll 0 0 #d0cece;
	margin: 0px auto;
	max-width: 100%;
	padding: 5px 0px;
	text-align: center;
}

nav ul{
	padding: 0;
	margin: 0 auto;
	width: 600px;
	height: 40px;
}
nav li{
	display: inline;
}
nav a{
	color: #9c7d25;
	display: inline-block;
	width:  100px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #e4b42d;
	line-height: 40px;
}
#enlaces:hover{
	background: #dedede;
	-ms-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition:all 1s ease-out;
	transition: all 1s ease-out;
}
#enlaces{
	-ms-transition:all 1s ease-in;
	-moz-transition:all 1s ease-in;
	-o- -transition: all 1s ease-in;
	-webkit-transition:all 1s ease-in;
	transition: all 1s ease-in;
}
a:hover{
	color: #9c7226;
}
a#pull{
	display: none;
}
#pull{
	color: rgb(216,216,216);
}
#pull:hover{
	color: #795d1c;
}
@media(min-width: 1080px) {
	nav a{
		width: 95px;
	}
	#menu{
		background: none repeat scroll 0 0 rgba(237,237,237,1);
		height: 60px;
	}
	#enlaces{
		padding: 10px;
	}
	#logo{
		margin: 5px;
		background: url(../images/encuesta1.png) no-repeat;
		width: 200px;
		height: 50px;
		display: inline-block;
		position: absolute;
		left: 30px;
		top: 0px;
	}
	#logo:hover{
		background: url(../images/encuesta2.png)no-repeat;
	}
	#logo:active{
		background: url(index.php)no-repeat;
	}
}
@media (max-width: 1024px) {
	nav a{
		width: 95px;
	}
	nav{
		width: 100%;
	}
	#enlaces{
		font-size: 13px;
	}
	#logo{
		background: url(../images/encuesta3.png)no-repeat;
		width: 200px;
		height: 50px;
		display: inline-block;
		position: absolute;
		left: 30px;
		top: 0px;
	}
	#logo:hover{
		background: url(../images/encuesta4.png)no-repeat;
	}
}
@media (max-width: 800px) {
#logo{
		display: inline-block;
		left: 30px;
	}
}
@media (max-width: 768px){
	nav a{
		width: 80px;
	}
	nav{
		width: 100%;
	}
	#enlaces{
		font-size: 12px;
	}
	#logo{
		width: 130px;
		display: inline-block;
		left: 30px;
	}

}
@media (max-width: 685px){
	nav a{
		width: 75px;
	}
	nav{
		width: 100%;
	}
	#enlaces{
		font-size: 11px;
		padding: 0px;
	}
	#logo{
		left: 30px;
		top: 0px;
		display: inline-block;
	}
}
@media (max-width: 600px){
	nav a{
		width: 63px;
	}
	#enlaces{
		font-size: 11px;
	}
	#logo{
		left: 30px;
		width: 130px;
		display: inline-block;
	}
}
@media (max-width: 568px){
	#menu{
		border-bottom: 0;
		height: auto;
		background: #fff;
	}
	nav ul{
		width: 100%;
		display: block;
		height: auto;
		display: none;
	}
	nav a{
		text-align: center;
		width: 100%;
		text-indent: 25px;
	}
	nav li a{
		border-bottom: 1px solid #576979;
	}
	nav #pull{
		display: block;
		background: #00a2e8 url(../images/encuesta3.png)no-repeat;
		width: 100%;
		position: relative;
	}
	nav #pull:hover{
		display: block;
		background: #00a2e8 url(../images/encuesta4.png)no-repeat;
		width: 100%;
		position: relative;
	}
	#pull:after{
		content: "";
		background: url(../images/nav-icon.png)no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	#logo{
		display: inline-block;
		left: 30px;
	}
}
@media (max-width: 480px){
	#logo{
		display: inline-block;
		left: 30px;
	}
}
@media (max-width: 380px){
	
}
@media (max-width: 320px){
	}
@media (max-width: 240px){	
}