body{
	color: #e6a756;
    font-weight: 800;
    text-align: center;
}

p{
	color: #F6D353;
	font-size: 34px;
    font-style: italic;
	text-shadow: 1px 1px 1px #000;
}

h2{
	background: rgba(255,255,255,.85);
	font-family: arial;
	padding-left: 8px;
	text-shadow: 1px 1px 1px #000;
}
table, td{
	color:#000;
	background-color: #F6D353;
	border-color: #e6a756;
	border-width: 2px;
}

table th{
	color: rgba(255,255,255,.7);
	background-color: rgba(47,23,15,.9);
	border-width: 2px;
}

.imag{
	border-color: #C89113;
	height: 200px;
	width: 150px;
}

#compra{
	border-color: #e6a756;
	border-width: 5px;
}

.titulito{
	font-size: 70px;
	padding-top: 20px;
	text-shadow: 1px 1px 1px #000;
}